.Rproj.user
.Rhistory
.RData
.RDataTmp
.Ruserdata
*.Rproj
*.html

Data/**
!Data/.gitkeep 

Outputs/**
!Outputs/Logs/.gitkeep 
!Outputs/.gitkeep 

omnipathr-log/
filtered_gene_bc_matrices/hg19/barcodes.tsv
filtered_gene_bc_matrices/hg19/genes.tsv
filtered_gene_bc_matrices/hg19/matrix.mtx
